
<div class="caly_div">
    <div class="img__wrap">
     <img class="galeryjka" src="assets/images/nature/6.jpg" />
      <p class="img__description"><strong>NONE SHALL PASS</strong><br>Kevin Low & Nancy Pellegrino, 2018</p><br>
  </div>
  <div class="img__wrap">
     <img class="galeryjka" src="assets/images/nature/1.jpg" />
      <p class="img__description"><strong>MAŁA WYCIECZKA</strong><br>Jiri Horny, 2014</p>
  </div>
   <div class="img__wrap">
     <img class="galeryjka" src="assets/images/nature/2.jpg" />
      <p class="img__description"><strong>CIEŃ CHAMISSA</strong><br>Urlike Ottinger, 2015</p>
  </div>
  <div class="img__wrap">
     <img class="galeryjka" src="assets/images/nature/3.jpg" />
      <p class="img__description"><strong>SARAJEWO: 20 LAT PO</strong><br>Razdvan Subasić, 2017</p>
  </div>
  <div class="img__wrap">
      <img class="galeryjka" src="assets/images/nature/4.jpg" />
       <p class="img__description"><strong>CALLING BY THE NIGHT</strong><br>Giorgios Asteropoulos, 2019</p>
   </div>
   <div class="img__wrap">
      <img class="galeryjka" src="assets/images/nature/5.jpg" />
       <p class="img__description"><strong>MOSKWA - PIETUSZKI</strong><br>
          Pavel Siemionowicz Kowalow, 2017</p>
   </div>
   <div class="img__wrap">
      <img class="galeryjka" src="assets/images/nature/7.jpg" />
       <p class="img__description"><strong>MONDO CANE</strong><br>Francesco Mota, 2017</p>
   </div>
   <div class="img__wrap">
      <img class="galeryjka" src="https://images.unsplash.com/photo-1553420865-5dc76c4f4460?ixlib=rb-1.2.1&auto=format&fit=crop&w=1355&q=80" />
       <p class="img__description"><strong>DZIEŃ JAK DZIEŃ</strong><br>Angelos Chirtianis, 2019</p>
   </div>
   <div class="img__wrap">
      <img class="galeryjka" src="https://images.unsplash.com/photo-1553420866-fbc46da6e7be?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80" />
       <p class="img__description"><strong>HIT ME</strong><br>Walter Meier, 2012</p>
   </div>
   <div class="img__wrap">
      <img class="galeryjka" src="https://images.unsplash.com/photo-1560519676-ccc5d272377b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80" />
       <p class="img__description"><strong>OD 5 DO 5</strong><br>Chiristina Wolf, 2015</p>
   </div>
   <div class="img__wrap">
      <img class="galeryjka" src="https://images.unsplash.com/photo-1560519688-0d3c940f3a64?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80" />
       <p class="img__description"><strong>NASZA KLASA</strong><br>Sławomir Marusarz, 2019</p>
   </div>
   <div class="img__wrap">
      <img class="galeryjka" src="https://images.unsplash.com/photo-1560092795-3a26f7a782e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80" />
       <p class="img__description"><strong>FAREWELL CHELSEA</strong><br>Ledley King, 2011</p>
   </div>
   <div class="img__wrap">
      <img class="galeryjka" src="https://images.unsplash.com/photo-1560256089-50c034ffe4d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1063&q=80" />
       <p class="img__description"><strong>TAM GDZIE NAS NIE MA</strong><br>Herbert Lagrange, 2015</p>
   </div>
   <div class="img__wrap">
      <img class="galeryjka" src="https://images.unsplash.com/photo-1552426948-96ed4eb0509c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80" />
       <p class="img__description"><strong>DELIRIUM</strong><br>Jia Zhang-Khe, 2015</p>
   </div>
   <div class="img__wrap">
      <img class="galeryjka" src="https://images.unsplash.com/flagged/photo-1560235626-31cc7484daa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80" />
       <p class="img__description"><strong>PRONTO</strong><br>Michael DaGrasso, 2018</p>
   </div>
   <div class="img__wrap">
      <img class="galeryjka" src="https://images.unsplash.com/photo-1560235653-6051d45653ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80" />
       <p class="img__description"><strong>CO BYŚ ZROBIŁ, GDYBYŚ TAM BYŁ?</strong><br>Erik Stohlx, 2015</p>
   </div>
</div>  


        