
div{
    overflow-y:scroll;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #fff;
    overflow-y:scroll;
    scroll-behavior: smooth;
}

a:hover {
    color: gold;
}


.text-center {
    text-align: center;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

h3 {
    font-family: 'Open Sans', sans-serif;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size:18px
}

table {
    word-wrap: break-word;
    justify-content: center;
    display: block;
    overflow-y:scroll;
    scroll-behavior: smooth;
}



.news {
    padding: 20px;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 20%
}

.news-photo{
    max-width: 950px;
    display: block;
    min-width: 350px
}

.news-photo:hover {
    opacity: 0.7;
}

.news-opis{
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    position: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    white-space: nowrap;
    max-width: 950px;
    min-width: 350px;
}

.dolna{
    white-space: nowrap;
    font-size: 16px;
}

.opis-filmu{
    display: inline-block;
    font-size: 18px;
    text-justify: auto;
    justify-content: center;
    word-wrap: break-all;
    max-width:750px

}
scroll-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;

}