<br>
<carousel class='text-center'>
    <slide>
      <img class='img-carousel-size' src="assets/images/nature/7.jpg" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Mondo Cane</h3>
        <p>Francesco Mota, 2017</p>
      </div>
    </slide>
    <slide>
      <img class='img-carousel-size' src="assets/images/nature/5.jpg" alt="second slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Moskwa - Pietuszki</h3>
        <p>Pavel Siemionowicz Kowalow, 2017</p>
      </div>
    </slide>
    <slide>
      <img class='img-carousel-size' src="assets/images/nature/6.jpg" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>None shall pass</h3>
        <p>Kevin Low & Nancy Pellegrino, 2018</p>
      </div>
    </slide>
  </carousel>
  <br>
  <h1 class="news">Aktualności</h1>
  <br>
  <div>
    <table>
      <tr>
        <td> <img class='news-photo' src="assets/images/nature/7.jpg" style="display: block; width: 100%;"></td>
          <td class="news-opis"><h2>Mondo Cane</h2><h3 class="dolna">Francesco Mota, 2017</h3>
          <br><p class="opis-filmu">Dziś jedyny rodzaj rewolucji, na jaką nas stać, może zaistnieć w kinie - mówi <br> wykształcony w Buenos Aires asojd asdfasoia pas diosd asi asdios dkja osidjas osadasild pasdjasdnoisd </p>
          </td></tr>
          <tr>
              <td> <img class='news-photo' src="assets/images/nature/5.jpg" style="display: block; width: 100%;"></td>
              <td class="news-opis"><h2>Moskwa - Pietuszki</h2><h3 class="dolna">Pavel Siemionowicz Kowalow, 2017</h3></td></tr>
              <tr>
                  <td> <img class='news-photo' src="assets/images/nature/6.jpg" style="display: block; width: 100%;"></td>
                  <td class="news-opis"><h2>None shall pass</h2><h3 class="dolna">Kevin Low & Nancy Pellegrino, 2018</h3></td></tr>
      </table>
  </div>