<br>
<carousel class='text-center'>
    <slide>
      <img class='img-carousel-size' src="assets/images/nature/7.jpg" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3><a href="#francesco">Mondo Cane</a></h3>
        <p>Francesco Mota, 2017</p>
      </div>
    </slide>
    <slide>
      <img class='img-carousel-size' src="assets/images/nature/5.jpg" alt="second slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3><a href="#pavel">Moskwa - Pietuszki</a></h3>
        <p>Pavel Siemionowicz Kowalow, 2017</p>
      </div>
    </slide>
    <slide>
      <img class='img-carousel-size' src="assets/images/nature/6.jpg" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3><a href="#kevin">None shall pass</a></h3>
        <p>Kevin Low & Nancy Pellegrino, 2018</p>
      </div>
    </slide>
  </carousel>
  <br>
  <h1 class="news">Aktualności</h1>
  <br>
  <div>
    <table>
        <section id="francesco"> </section><tr>
          <td><img class='news-photo' src="assets/images/nature/7.jpg" style="display: block; width: 100%;"></td>
          <td class="news-opis"><h2>Mondo Cane</h2><h3 class="dolna">Francesco Mota, 2017</h3>
          <br><p class="opis-filmu">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore<br> et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation<br> ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure<br> dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint<br> occaecat cupidatat non proident, sunt in culpa qui officia<br> deserunt mollit anim id est laborum.</p>
          </td></tr>
          <section id="pavel"> </section><tr>
              <td> <img class='news-photo' src="assets/images/nature/5.jpg" style="display: block; width: 100%;"></td>
              <td class="news-opis"><h2>Moskwa - Pietuszki</h2><h3 class="dolna">Pavel Siemionowicz Kowalow, 2017</h3> <br><p class="opis-filmu">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore<br> et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation<br> ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure<br> dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint<br> occaecat cupidatat non proident, sunt in culpa qui officia<br> deserunt mollit anim id est laborum.</p>
              </td></tr>
              <section id="kevin"> </section> <tr>
                  <td> <img class='news-photo' src="assets/images/nature/6.jpg" style="display: block; width: 100%;"></td>
                  <td class="news-opis"><h2>None shall pass</h2><h3 class="dolna">Kevin Low & Nancy Pellegrino, 2018</h3> <br><p class="opis-filmu">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore<br> et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation<br> ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure<br> dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint<br> occaecat cupidatat non proident, sunt in culpa qui officia<br> deserunt mollit anim id est laborum.</p>
                  </td></tr>
      </table>
    </div>